/* THIS IS FONT STYLE DEFINITIONS */

/*HEADERS*/

h1 /* Workspace Title */
{
	font-size: 3em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	/*padding: 0 0 1em 0;*/
	padding: 0;
	color: #1B1E25;
}

h2 /* Modification title */
{
	font-size: 1.6em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	padding: 0;
	color: #1B1E25;

}

h3 /* box caption text */
{
	font-size: 1.2em;
	font-style: normal;
	font-weight: 700;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	padding: 0;
	color: #7D7D7D;
}

h4 /* Torcoise text */
{
	font-size: 1.2em;
	font-style: normal;
	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	padding: 0;
	color: #2ABBAE;
}

h5 
{
	font-size: 1.2em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin-left: 4.5em; /* Make sure linkes up with the header title */
	margin-right: 0;
	padding: 0;
	color: #1B1E25;

}

h6 {
	font-size: 2em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	text-align: center;
	margin: 0 0 2em 0;
	padding: 0;
	color: #1B1E25;
}

/*LINKS*/

a {
	color: #2ABBAE;	
	text-decoration: none;
  	border-bottom: 1px solid #ee6557; /*#16a6b6;*/
  	cursor: pointer;
}


a:link, a:visited
{
    color: #2ABBAE; /*#b9bba2;*/
  	cursor: pointer;

    /*text-decoration: none;*/
}

a:hover
{
    color: #a5a2bb;
    text-decoration: none;
    text-decoration: none;
  	border-bottom: 1px solid #16a6b6;
  	cursor: pointer;

}

a:active
{
    color: #2ABBAE; /*#b0b397;*/
    background-color: #2ABBAE; 
  	cursor: pointer;
}

/*HEADER TITLE*/

.pageTitle {
  font-size: 5.1em;
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
  margin: 0;
  padding: 0;
  color: #1B1E25;
  width:inherit;
}

/*TEXT & PARAGRAPHS*/

p {
	font-size: 1.4em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 2em 0 2em 0;
	padding: 0;
	color: #1B1E25;
}

input {
	border-radius: .4em;
   -webkit-border-radius: .4em; 
   -moz-border-radius: .4em;
   font-size: 1.2em;
   padding: .4em;
   border: 3px solid #C5C5C5;
}

/*TEXT DECORATION*/

.underlineOrange {
  text-decoration: none;
  border-bottom: 1px solid #ee6557; /*#16a6b6;*/
}

.orangeHighlight {
  color: #ee6557;
  background-color: #ee6557;
}

.subtitleText {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
  margin: 0;
  padding: 0;
  color: #1B1E25;
}

.title {
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

.modification {
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

.inputTitle {
	padding-bottom: .2em;

}

.orangeHighlight {
	background-color: #ee6557;
}

.blueHighlight {
	background-color: #2ABBAE;
}

.blackHighlight {
	background-color: #000000;
}